mat-form-field {
    width: 800px;
    margin: 1rem 0rem;
}

textarea[name=content] {
    resize: none;
}

@media only screen and (max-width: 850px) {
    mat-form-field {
        width: 500px;
    }
}

@media only screen and (max-width: 550px) {
    mat-form-field {
        width: 300px;
    }
}
