.header-text {
    color: rgb(0, 124, 207);
    text-align: center;
    font-size: 2rem;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

mat-form-field{
    width: 300px;
    text-align: left;
    margin-bottom: 1rem
}

.hideBtn {
    border: 0; 
    cursor: pointer;
}

.submitBtn {
    width: 300px;
    text-align: center;
}

.redirect-link{transition: all .2s ease-in-out; display: block; color: #18567f; text-align: center; margin: 1rem 0rem}
.redirect-link:hover {
  transform: scale(1.1);
}
